header{
  padding-top: 50px;
}

.my-navs{
  li{
    cursor: pointer;
    a{
      font-size: 15pt;
      font-weight: bold;
    }
  }

  li:hover{
    background-color: #5e6e5e;
    a{
      font-weight: bold;
    }
  }
}
.main_footer {
  background-color: #242424;
  z-index: 999;
  position: relative;
  margin: 0 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    color: #808080;
    font-weight: 900;
    font-size: 22px;
  }

  p {
    font-size: 14px;
    color: #ccc;
    font-weight: 100;
  }

  ul {
    list-style: none;
    text-align: left;

    li {
      font-size: 14px;
      color: #ccc;
      font-weight: 100;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: #0066cc;
    cursor: help;
  }

  button:hover {
    text-decoration: underline;
  }
}

.sticky-footer {
  position: absolute;
  margin-top: -105px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 105px;
}
