<h2>Sails Web Socket crud example</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>N</th>
      <th>Id</th>
      <th>Fullname</th>
      <th>Phone number</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data; let i=index">
      <td>{{i}}</td>
      <td>{{record.id}}</td>
      <td>{{record.fullname}}</td>
      <td>{{record.phonenumber}}</td>
      <td>{{record.emailid}}</td>
    </tr>
  </tbody>
</table>


<button type="button" class="btn btn-primary" (click)="addRecord()">Add Record</button>
<button type="button" class="btn btn-success" (click)="updateRecord()" *ngIf="on">Update Record</button>
<button type="button" class="btn btn-danger" (click)="deleteRecord()" *ngIf="on">Delete Record</button>

<hr>

<alert type="success" dismissible="true">
  <strong>Rate me!</strong> Please rate 1
  <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg> Star
  <a target="_blank" rel="noopener" href="https://github.com/Giancarlo1974/SailsAngular/">my github repository</a>.
</alert>

<alert type="md-local" dismissible="true">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>
