<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-lis my-navs">
          <li routerLinkActive="active"><a routerLink="/">Главная</a></li>
          <li routerLinkActive="active"><a routerLink="/blog">Блог</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right my-navs">
          <li routerLinkActive="active" *ngIf="!blogerService.authToken && blogerService.bloger.id == ''"><a routerLink="/sign-up">Зарегистрироваться как блогер</a></li>
          <li routerLinkActive="active" *ngIf="blogerService.authToken && blogerService.bloger.id != ''" ><a routerLink="/profile">Профиль</a></li>
          <li routerLinkActive="active" *ngIf="!blogerService.authToken && blogerService.bloger.id == ''"><a routerLink="/bloger-sign-in">Войти как блогер</a></li>
          <li routerLinkActive="active" *ngIf="blogerService.authToken && blogerService.bloger.id != ''" ><a (click)="blogerService.logOut()">Выйти</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="main_footer">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3>Права и использование</h3>
        <p>Copyright © <a routerLink="/">SportNews.ru</a> 2016. Все права защищены</p>
      </div>

    </div>
  </div>
</footer>
