<div>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">Зарегистрироваться как блогер</h4>
</div>

<form (submit)="registerBloger()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text" name="login" [(ngModel)]="bloger.login" class="form-control" required id="login" value="">
          <span class="help-block" *ngIf="">Введите логин</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="photoUrl">Ссылка на фото</label>
          <input type="text" name="photoUrl" [(ngModel)]="bloger.photoUrl" class="form-control" required id="photoUrl" value="">
          <span class="help-block">Это поле обязательно</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" name="password" [(ngModel)]="bloger.password" class="form-control" required id="password" value="">
          <span class="help-block">Введите пароль</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <input type="hidden" name="isEmpty" value="">
    <button type="submit"  class="btn btn-success btn-icon"><i class="fa fa-check"></i>Зарегистрироваться как блогер</button>
  </div>
</form>

</div>
